/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
}

p, span, input {
  font-family: Minion Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
}
