<div class="container">
  <header class="header">
    <p>серия «Камея»</p>
    <img [src]="arrow"  alt="arrow">
  </header>
  <div class="main">
    <div class="title">
      <h1>Межкомнатная дверь «ЛН 180</h1>
      <p>Брашированный шпон ясеня и эмаль, скрытая текстура</p>
    </div>
    <hr>
    <div class="size">
      <h2>Размеры</h2>
      <div class="size__list">
        <ul>
          <li>Высота</li>
          <li>Ширина</li>
        </ul>
        <ul>
          <li>2 000 мм</li>
          <li>600,700,800,900 мм</li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="package">
      <h2>Комплектация</h2>
      <div class="package__lists">
        <ul>
          <li>Дверное полотно</li>
          <li>Компланарная коробка</li>
          <li>Плоские наличники</li>
          <li>Декоративные элементы</li>
        </ul>
        <ul>
          <li>1 шт</li>
          <li>1 комплект</li>
          <li>5 шт.</li>
          <li>4 шт.</li>
        </ul>
      </div>
      <div class="price">
        <div class="price__inscription">
          <p>2607 р.</p>
          <p>2200 р.</p>
        </div>
        <p class="price__annotation">стоимость комплекта без учёта доставки и монтажа</p>
      </div>
    </div>
    <hr>
    <div class="furniture">
      <h2>Фурнитура</h2>
      <div class="furniture__list">
        <ul>
          <li>Ручка</li>
          <li>Петли</li>
          <li>Замок</li>
          <li>Система</li>
        </ul>
        <ul>
          <li>LockStyle магнитый</li>
          <li>Kale 252R цилиндровый</li>
          <li>Crit с автомат. шторкой</li>
          <li>Crit</li>
        </ul>
        <ul>
          <li>2 шт.</li>
          <li>3 шт.</li>
          <li>1 шт.</li>
          <li>1 шт.</li>
        </ul>
      </div>
    </div>
    <div class="price">
      <div class="price__inscription">
        <p class="price__inscription__added-cost">+ 2607 р.</p>
      </div>
      <p class="price__annotation">стоимость фурнитуры без учёта врезки на заводе</p>
    </div>
  </div>
  <footer class="footer">
    <div class="maker">
      <p>Согласно СТБ 2433-2015<br>Производитель: Республика Беларусь<br>ООО «Дверной сезон» УНП 790823530</p>
    </div>
    <div class="delivery-install">
      <p>Доставка и установка:</p>
    </div>
  </footer>
</div>
